::ng-deep {

    mat-dialog-container {
        background: var(--bgPrimaryColor) !important;
    }

    .mat-input-element {
        color: var(--textPrimaryColor) !important;
    }
}


.warehouse {
    background-color: var(--bgPrimaryColor);
    height: 100%;
}