
<div>

  <h1>
    Bienvenido!
  </h1>

  <div fxLayout="column"
       fxLayoutAlign="center center">

       <div fxLayout="row"
            fxLayoutAlign="center start"
            fxLayoutGap="20px"
            class="w-100">
          
            <div class="simple-border-card p-20"
                 fxFlex="calc(70%)">

                 <div fxLayout="row"
                      fxLayoutAlign="space-between start">

                      <div fxFlex="calc(80%)">
                        <h3 class="fw-800 m-0">
                          Balance mensual
                        </h3>
                        <h5 class="mt-m3">
                          Resumen de ganancias
                        </h5>
                      </div>

                      <form [formGroup]="monthForm"
                            fxFlex="calc(20% - 20px)">
                        <app-phk-select
                          [required]="true"
                          [label]="'Mes'"
                          formControlName="month">
                          <mat-option>
                            Marzo 2023
                          </mat-option>
                          <mat-option>
                            Abril 2023
                          </mat-option>
                        </app-phk-select>
                      </form>


                 </div>

                <div fxLayout="row"
                     fxLayoutGap="10px">
                  <canvas baseChart 
                          class="w-100"
                          [type]="'line'"
                          [data]="lineChartData"
                          [options]="lineChartOptions"
                          [legend]="lineChartLegend"
                          fxFlex="calc(70%)">
                  </canvas>

                  <div fxFlex="calc(30% - 10px)">

                    <div fxLayout="column"
                         fxLayoutAlign="start start"
                         fxLayoutGap="20px">

                         <div fxLayout="row"
                              fxLayoutGap="10px"
                              class="status-summary">
     
                           <mat-icon class="mat-18">bar_chart_4_bars</mat-icon>
     
                           <div>
                             <h2 class="fw-800 m-0">
                               $65.413,62
                             </h2>
                             <h5 class="mt-m3">
                               Total de ganancias
                             </h5>
                           </div>
     
                         </div>

                           <div fxLayout="row"
                                fxLayoutGap="10px"
                                fxLayoutAlign="center center">
       
                                <div class="dot-1"></div>

                                <div>
                                  <h5 class="m-0">
                                    Ganancias este mes
                                  </h5>

                                  <h3 class="fw-800 m-0">
                                    $65.413,62
                                  </h3>
                                </div>
                           </div>

                         <div fxLayout="row"
                              fxLayoutGap="10px"
                              fxLayoutAlign="center center">
     
                              <div class="dot-2"></div>
     
                              <div>
                                <h5 class="m-0">
                                  Gastos este mes
                                </h5>

                                <h3 class="fw-800 m-0">
                                  $15.706,62
                                </h3>
                              </div>
     
                         </div>
                    </div>

                  </div>

                </div>
              
          
            </div>

            <div class="simple-border-card p-20"
                 fxFlex="calc(30% - 20px)">

                <h3 class="fw-800">Gestión de ventas</h3>    

                <div fxLayout="row"
                     fxLayoutGap="10px">

                    <div fxFlex="calc(65% - 80px)"
                         class="mt-m10">

                      <h2 class="m-0 fw-800">
                        $36.415,63
                      </h2>

                      <div fxLayout="row"
                           fxLayoutAlign="start center"
                           fxLayoutGap="7px"
                           class="trending-data">
                        
                        <mat-icon class="mat-10">
                          trending_up
                        </mat-icon>

                        <p class="fs-08 m-0">
                          <strong>+9%</strong>
                          el último año
                        </p>
                      </div> 

                      <div fxLayout="row"
                           fxLayoutGap="10px"
                           class="mt-10">

                        <div fxLayout="row"
                             fxLayoutAlign="center center"
                             fxLayoutGap="10px">
                          <div class="dot-3"></div>
  
                          <h5 class="m-0">
                            2022
                          </h5>
                        </div>
  
                        <div fxLayout="row"
                             fxLayoutAlign="center center"
                             fxLayoutGap="10px">
                          <div class="dot-1"></div>
    
                          <h5 class="m-0">
                            2023
                          </h5>
                        </div>

                      </div>
                    </div>


                    <canvas baseChart
                            [type]="'pie'"
                            [datasets]="pieChartDatasets"
                            [labels]="pieChartLabels"
                            [options]="pieChartOptions"
                            [width]="80">
                    </canvas>

                </div>

          
            </div>
          

       </div>

  </div>



</div>

