

.row-space-between {
    display: flex;
    justify-content: space-between;
}

.close-button {
    background: transparent;
    border: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-top: -5px;
    margin-right: -5px;
    cursor: pointer;
    outline: none;
}