<div>   
    <form [formGroup]="providerForm">
        <div mat-dialog-content 
             fxLayout="row wrap"
             fxLayoutGap="20px"
             fxLayout.lt-md="column"
             fxLayoutAlign="start center">

            <app-phk-input label="Nombre" 
                            formControlName="name"
                            fxFlex.gt-md="calc(33% - 20px)"
                            fxFlex.lt-md="calc(100%)"></app-phk-input>

            <app-phk-input label="Teléfono" 
                           formControlName="phone"
                           fxFlex.gt-md="calc(33% - 20px)"
                           fxFlex.lt-md="calc(100%)"></app-phk-input>
            
            <app-phk-slide-toggle (click)="changeNational()" 
                                    formControlName="national"
                                    [label]="'¿Es Nacional?'"
                                    fxFlex.gt-md="calc(33% - 20px)"
                                    fxFlex.lt-md="calc(100%)"
                                    class="mt-m20"></app-phk-slide-toggle>

            <app-phk-text-area label="Ingrese la dirección fiscal" 
                                formControlName="address"
                                fxFlex.gt-md="calc(66% - 20px)"></app-phk-text-area> 

            <app-phk-slide-toggle formControlName="active"
                                    [label]="'¿Se encuentra activo?'"
                                    fxFlex.gt-md="calc(33% - 20px)"
                                    class="mt-m20"></app-phk-slide-toggle>

            <app-phk-select formControlName="specialTaxpayer"
                            [label]="'Contribuyente especial'">

                <mat-option *ngFor="let yesNoOption of yesNoOptions" 
                            [value]="yesNoOption">
                    {{yesNoOption}}
                </mat-option>

            </app-phk-select>

            <app-phk-input formControlName="iva"
                           [label]="'Retención IVA'"
                           fxFlex.gt-md="calc(33% - 20px)"
                           fxFlex.lt-md="calc(100%)"></app-phk-input>

            <app-phk-select formControlName="taxpayerType"
                            [label]="'Tipo de contribuyente'"
                            fxFlex.gt-md="calc(33% - 20px)"
                            fxFlex.lt-md="calc(100%)">

                <mat-option *ngFor="let taxPayerType of taxpayerTypeOptions" 
                            [value]="taxPayerType">
                    {{taxPayerType}}
                </mat-option>

            </app-phk-select>

            <app-phk-select label="Tipo de proveedor" 
                            formControlName="providerType"
                            fxFlexAlign="start start">
                <mat-option *ngFor="let providerType of providerTypeOptions"
                            [value]="providerType">
                    {{providerType}}
                </mat-option>
            </app-phk-select>

            <div *ngIf="!nationaltrigger">

                <app-phk-input formControlName="rif"
                               fxFlex.gt-md="calc(33% - 20px)"
                               fxFlex.lt-md="calc(100%)"></app-phk-input>

            </div>

            <div fxFlex="50"
                 fxFlex.xs="100"
                 fxFlex.sm="100"
                 fxFlex.md="33"
                 fxFlex.lg="100"
                 fxFlex.xl="100">
                <button class="w-100" mat-flat-button color="primary">Enviar</button>
            </div>
        </div>
    </form>
</div>