
<div fxLayout="column"
     fxLayoutAlign="center center"
     class="w-100 ph-50">

    <h1>
        Información personal
    </h1>

    <h3>
        Información sobre ti y tus preferencias Phoinike.
    </h3>

    <div fxLayout="row"
         fxLayoutGap="20px">

        <div fxFlex="auto">

            <h1 class="fw-600">
                La información de tu perfil
            </h1>

            <p class="fs-18 lh-1-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Laudantium provident, numquam sit veritatis impedit.
            </p>
        </div>

        <img src="../../../../../assets/images/card.png" 
             width="400px">

    </div>

    <div fxLayout="column"
         fxLayoutAlign="start start"
         class="w-100 basic-information">

         <h3 class="fw-600">
            Información básica
         </h3>

         <p>
            Es posible que otros usuarios puedan ver parte de la información al usar los servicios de Phoinike.
         </p>

         <div fxLayout="row"
              fxLayoutGap="20px"
              fxLayoutAlign="space-between center"
              class="w-100">

              <div fxLayout="row"
                   fxLayoutGap="20px">
                  <p class="fs-07 fw-600">
                     Imagen de perfil
                  </p>
     
                  <p class="fs-08">
                     Personaliza tu imagen de perfil
                  </p>
              </div>

            <ngx-avatar src="assets/images/jobs.png"
                        size="60"
                        class="pointer material-shadow"></ngx-avatar>

         </div>


    </div>

    <!-- <div class="personal-settings-container p-50">

        <div class="personal-settings-card w-100">

        </div>

    </div> -->

</div>