.left-auxiliary-container {
    background-color: var(--bgSearchColor);
    padding: 20px;
    padding-right: 0px;
    margin-top: 60px;
    margin-right: 0px;
}

.side-component-container {
    background-color: var(--bgPrimaryColor);
    padding: 20px;
    border-radius: 5px;
}