<div class="pv20-h50 table-container">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h1 class="">Roles y Permisos</h1>

    <button
      mat-mini-fab
      color="primary"
      aria-label="Nuevo roles y permisos"
      matTooltip="Nuevo roles y permisos"
      (click)="newRol()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <app-phk-table
    [columnsTags]="tableColumnsTags"
    [columnsToDisplay]="tableColumnsToDisplay"
    [data]="tableData"
    [showSelectColumn]="false"
  ></app-phk-table>
</div>
