
<div class="h-100vh user-dashboard-container">

     <app-phk-user-account-header class="w-100"
                                  [showSearch]="true"
                                  [showLogo]="true">

     </app-phk-user-account-header>

    <div fxLayout="row"
         fxLayoutGap="20px">

        <app-dashboard-sidebar fxFlex="280px"></app-dashboard-sidebar>

        <div fxFlex="calc(100% - 300px)">
            <div class="center-content"
                 ngClass.gt-md="w-50"
                 ngClass.lt-md="w-100">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>

</div>
