<div>   
    <form [formGroup]="containerTypeForm">
        <div mat-dialog-content fxLayout="row wrap" fxLayoutGap="20px" fxLayout.sm="column"
        fxLayout.md="column">
            <br>
            <div fxFlex="auto"
                 fxFlex.sm="10"
                 fxFlex.md="36"
                 fxFlex.xl="47">
                <p>Nombre*</p>
                <app-phk-input label="Nombre" formControlName="name" [required]="true"></app-phk-input>
            </div>

            <div fxFlex="50"
                 fxFlex.xs="100"
                 fxFlex.sm="100"
                 fxFlex.md="33"
                 fxFlex.lg="100"
                 fxFlex.xl="100">
                <button class="w-100" mat-flat-button color="primary">Enviar</button>
            </div>
        </div>
    </form>
</div>