
// Root styles

:host ::ng-deep {
    
    .mat-expansion-panel {
        background-color: #161616;
        border-radius: 15px;
    }

    .mat-expansion-panel-header-title {
        color: #fafafa;
        font-weight: 600;
    }

    .mat-expansion-indicator::after {
        color: #fafafa;
    }
}

.user-account-container {
    padding: 15px;
    width: 320px;
    background-color: #222222;
    border: 8px solid #353535;
    border-radius: 20px;
    margin-right: -55px;
    margin-top: 10px;

    h4 {
        color: #fafafa;
        font-weight: 600;
        margin: 0;
    }

}

.manage-account-button {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border-radius: 25px;
    color: #6d9bc3;
    border: 2px solid #fafafa;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
}

.manage-account-button:hover {
    background-color: rgba($color: #6d9bc3, $alpha: 0.2);
}