<div class="user-account-container"
     fxLayout="column"
     fxLayoutAlign="center center"
     fxLayoutGap="10px"
     [@fadeInFast]>

    <p class="primary-color fw-600">
        abinassar@gmail.com
    </p>

    <ngx-avatar src="assets/images/jobs.png"
                size="40"
                class="pointer"></ngx-avatar>

    <h2 class="primary-color fw-600">
        Hola, Gianfranco
    </h2>

    <button class="manage-account-button">
        Gestiona tu cuenta Phoinike
    </button>

  <mat-expansion-panel class="w-100">

    <mat-expansion-panel-header>
      <mat-panel-title>
        Mostrar cuentas
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <div class="account"
         fxLayout="row"
         fxLayoutAlign="start center"
         fxLayoutGap="10px">

        <ngx-avatar src="assets/images/jobs.png"
                    size="25"
                    class="pointer"></ngx-avatar>

        <div fxLayout="column">

            <h4>
                Cuenta empresarial
            </h4>

            <p class="m-0 primary-color"> 
                abinassar@phoinike.com
            </p>

        </div>

    </div>
    
  </mat-expansion-panel>
</div>
