
:host ::ng-deep {

    mat-dialog-container{
        background: var(--bgPrimaryColor) !important;
    }

    .mat-input-element {
        color: var(--textPrimaryColor) !important;
    }
}


.truckType {
    background-color: var(--bgPrimaryColor);
    height: 100%;
}