<div
  fxLayout="column"
  fxLayoutAlign="space-between center"
  class="search-container"
>

  <div *ngIf="isLogged" class="w-100">

    <app-phk-user-account-header [showSearch]="false"> </app-phk-user-account-header>

  </div>


  <div *ngIf="!isLogged"
       class="home-header-container w-100">

    <p class="fw-500 fs-12 home-message">¡Cotiza con nosotros!</p>

    <button mat-raised-button
            color="primary"
            (click)="signIn()">Ingresar</button>

  </div>

  <div>
    <h1 class="search-title text-center mb-35">Phoinike</h1>

        <div class="search-input active p-0"
             (click)="inputActive = true">
            <div id="searchBox">
                <mat-icon class="mat-25" (click)="showInput()">search</mat-icon>
                <input type="text" 
                       placeholder="Busca en Phoinike"
                       (keydown.enter)="showInput()"
                       [(ngModel)]="search"/>
                <mat-icon class="mat-18">mic</mat-icon>
            </div>
        </div>

        <div fxLayout="row"
             fxLayoutAlign="center center"
             class="apps-container"
             *ngIf="!show">
          <button (click)="buttonTest('Truck')" class="app-button">
            <img src="../../../../../assets/icons/Truck.png" alt="truck-icon">
          </button>
          <button (click)="buttonTest('CustomC')" class="app-button">
            <img src="../../../../../assets/icons/Customs.png" alt="customs-icon">
          </button>
          <button (click)="buttonTest('Container')" class="app-button">
            <img src="../../../../../assets/icons/Container.png" alt="container-icon">
          </button>
          <button (click)="buttonTest('Express')" class="app-button">
            <img src="../../../../../assets/icons/Express.png" alt="express-icon">
          </button>
        </div>


        <div class="box" [class.opened]="show">
            <div class="content"
                 fxLayout="row"
                 fxLayoutGap="50px">
                <app-phk-search-result fxFlex="calc(55% - 50px)"></app-phk-search-result>
                <app-phk-searcher-result-auxiliary
                  fxFlex="calc(40% - 50px)"
                  [tittle]="'Ladrillo'"
                  [subTittle]="'Código Arancelario: 02.05.20.20'"
                  [extraInfo]="
                    'Un ladrillo es de forma rectangular y de tamaño tal que se puede manejar convenientemente con una mano.'
                  "
                  [img]="'https://i.ytimg.com/vi/rkncggqM0Ug/maxresdefault.jpg'"
                ></app-phk-searcher-result-auxiliary>
            </div>
        </div>
    </div>

  <div
    fxLayout="row"
    fxLayoutAlign="space-between center"
    class="search-footer fs-12"
  >
    <div fxLayoutGap="10px">
      <span class="footer-button"> Venezuela (Esp) </span>
      <span class="footer-button"> Sobre Phoinike </span>
      <span class="footer-button"> Servicios </span>
      <span class="footer-button"> Como funciona nuestra app </span>
    </div>

    <div fxLayoutGap="10px">
      <span class="footer-button"> Privacidad </span>
      <span class="footer-button"> Condiciones </span>
      <span class="footer-button"> Preferencias </span>
    </div>
  </div>
</div>
