// Root styles

:host ::ng-deep {
  .mat-icon {
    color: var(--iconColor);
  }

  .mat-icon,
  .search-input,
  input {
    cursor: pointer;
  }

  .mat-mini-fab {
    box-shadow: none;
    background-color: transparent !important;
    transition: all 0.2s;
  }

  .mat-mini-fab:hover {
    background-color: rgba(232, 234, 237, 0.08) !important;
  }
}

// Global styles

.search-container {
  height: 100vh;
  background-color: var(--bgSearchColor);
  background-size: cover;
  background-position: center center;
}

// Search content

.search-title {
  font-weight: bold;
  font-size: 5em;
  color: var(--textPrimaryColor);
}

// Search input styles

h1 {
  color: var(--textPrimaryColor);
}

.search-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchBox {
  border-radius: 55px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
  border: 2px var(--borderPrimaryColor) solid;
}

input {
  font-size: 15px;
  width: 0px;
  border: 0;
  background: transparent;
  outline: none;
  transition: 1s;
}

.active input {
  width: 350px;
  padding: 0px 20px;
}

.active .mic-icon {
  width: 30px;
}

// Footer styles

.search-footer {
  height: 55px;
  width: 100%;
  padding: 0 20px;
}

span {
  color: var(--textPrimaryColor);
}

.container-result {
  display: flex;
  background-color: var(--bgSearchColor);
}
