// Root styles

:host ::ng-deep {
  .mat-icon {
    color: var(--iconColor);
  }

  .mat-icon,
  .search-input,
  input {
    cursor: pointer;
    color: rgba(70, 70, 70, 0.966) !important;
  }

  .mat-mini-fab {
    box-shadow: none;
    background-color: transparent !important;
    transition: all 0.2s;
  }

  .mat-mini-fab:hover {
    background-color: rgba(232, 234, 237, 0.08) !important;
  }

}

// Global styles

.search-container {
  height: 100vh;
  background-color: var(--bgSearchColor);
  background-size: cover;
  background-position: center center;
}

// Header styles

.home-header-container {
  height: 70px;
  margin: 0 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  button {
    margin: 0 20px;
  }
}

// Search content

.search-title {
  font-weight: bold;
  font-size: 5em;
  color: #4285F4;
  padding: 20px;
}

// Search input styles

h1 {
  color: var(--textPrimaryColor);
}

.search-input {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100px;
  transition: ease-in-out 900ms max-height;
}

#searchBox {
  border-radius: 55px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15);
  border: 1px rgb(167, 167, 167) solid;
}

input {
  font-size: 15px;
  width: 0px;
  border: 0;
  background: transparent;
  outline: none;
  transition: 1s;
}

.active input {
  width: 350px;
  padding: 0px 20px;
}

.active .mic-icon {
  width: 30px;
}

// Footer styles

.search-footer {
    background-color: var(--bgSearchColor);
    height: 55px;
    width: 100%;
    padding: 0 20px;
}

span {
    color: var(--textPrimaryColor);
}

.box {
    background-color: var(--bgSearchColor);
    max-height: 0px;
    overflow-y: hidden;
    transition: ease-in-out 400ms max-height;
}

.box.opened {
    max-height: 100%;
    transition: ease-in-out 800ms max-height;
}

.content {
    padding: 16px;
}  

.apps-container img {
  max-width: 50%;
  max-height: 50%;
}

.apps-container {
  margin-top: 20px;
}

.app-button{
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  max-width: 5rem;
}

.footer-button:hover {
  color: #4285F4;
  cursor: pointer;
}

.home-message {
  margin-top: 15px;
}

.home-message:hover {
  color: #4285F4;
  cursor: pointer;
}