<div class="p-20 table-container">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h1>Listado de Certificaciones de Créditos Fiscales</h1>

    <button
      mat-mini-fab
      color="primary"
      aria-label="Registrar nueva Certificacion"
      matTooltip="Registrar nueva Certificacion"
      (click)="newCertification()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <app-phk-table
    [columnsTags]="tableColumnsTags"
    [columnsToDisplay]="tableColumnsToDisplay"
    [data]="tableData"
  ></app-phk-table>
</div>
