<div>
  <form [formGroup]="driverForm">
    <div
      mat-dialog-content
      fxLayout="row wrap"
      fxLayoutGap="20px"
      fxLayout.lt-md="column"
      fxLayoutAlign="start center"
    >
      <app-phk-input
        label="Nombre"
        formControlName="name"
        [required]="true"
        fxFlex.gt-md="calc(33% - 20px)"
        fxFlex.lt-md="calc(100%)"
        [errorMessage]="
          driverForm.controls['name'].invalid ? 'Debe ingresar un Nombre' : null
        "
      ></app-phk-input>

      <app-phk-input
        label="Teléfono"
        formControlName="phone"
        fxFlex.gt-md="calc(33% - 20px)"
        fxFlex.lt-md="calc(100%)"
        [errorMessage]="
          driverForm.controls['phone'].invalid
            ? 'Debe ingresar un Teléfono'
            : null
        "
      ></app-phk-input>

      <app-phk-input
        label="Dirección de Correo"
        formControlName="email"
        fxFlex.gt-md="calc(33% - 20px)"
        fxFlex.lt-md="calc(100%)"
        [errorMessage]="
          driverForm.controls['email'].invalid
            ? 'Debe ingresar una Dirección de Correo'
            : null
        "
      ></app-phk-input>

      <app-phk-slide-toggle
        formControlName="active"
        [label]="'¿Activo?'"
        fxFlex.gt-md="calc(33% - 20px)"
        fxFlex.lt-md="calc(100%)"
        class="mt-m20"
        [required]="true"
      ></app-phk-slide-toggle>

      <app-phk-slide-toggle
        formControlName="is_self_employed"
        [label]="'¿Es autónomo?'"
        fxFlex.gt-md="calc(33% - 20px)"
        fxFlex.lt-md="calc(100%)"
        class="mt-m20"
        [required]="true"
      ></app-phk-slide-toggle>

      <app-phk-select
        formControlName="provider_id"
        [label]="'Proveedores'"
        [required]="true"
        fxFlex.gt-md="calc(33% - 20px)"
        fxFlex.lt-md="calc(100%)"
      >
        <mat-option *ngFor="let provider of providers" [value]="provider.id">
          {{ provider.name }}
        </mat-option>
      </app-phk-select>

      <app-phk-text-area
        label="Ingrese la Dirección"
        formControlName="address"
        fxFlex.gt-md="calc(66% - 20px)"
        fxFlex.lt-md="calc(100%)"
        [errorMessage]="
          driverForm.controls['name'].invalid
            ? 'Debe ingresar la Dirección'
            : null
        "
        [required]="true"
      ></app-phk-text-area>

      <div
        fxFlex="50"
        fxFlex.xs="100"
        fxFlex.sm="100"
        fxFlex.md="100"
        fxFlex.lg="100"
        fxFlex.xl="100"
      >
        <button
          class="w-100"
          mat-flat-button
          color="primary"
          (click)="saveDriver()"
        >
          Guardar
        </button>
      </div>
    </div>
  </form>
</div>
