
// Sign in styles

.sign-in {

  height: 100%;
  background: url('../../../assets/images/white-simple-background.jpg');
  background-size: cover;
  background-position: center center;

  mat-card {
    padding: 15px !important;
    width: 400px;

    @media screen and (max-width: 667px) {
        width: 300px;
    }

    @media screen and (max-width: 500px) {
      width: 95%;
    }
  }

}

// Footer styles

.sign-in-footer {
  padding: 15px 20px;
}