<div class="sign-in" 
     fxLayout="column" 
     fxLayoutAlign="space-between center">

    <div class="sign-in-header w-100 p-20"
         fxLayout="row"
         fxLayoutAlign="start center">
         <h1>
             Phoinike Logistics
         </h1>
    </div>

    <div fxLayout="row"
         fxLayoutAlign="space-evenly center"
         fxLayoutGap="40px"
         fxLayout.lt-md="column"
         class="w-100"
         [@fadeIn]>

        <div fxFlex="calc(40%)"
             fxLayout="column"
             fxLayoutAlign="center center"
             fxHide.lt-md="true">
             <h2 class="w-50 fs-40">
                 Bienvenido
             </h2>
             <p class="w-50 fs-20 lh-1-5">
                Phoinike te moviliza. Hacemos el trabajo pesado!
             </p>
        </div>

        <div fxFlex="calc(60% - 40px)"
             fxLayout="column"
             fxLayoutAlign="center center">

            <mat-card class="mat-elevation-z0">
                <h1>Entrar</h1>
        
                <form [formGroup]="signInFormGroup" 
                        fxLayout="column"
                        fxLayoutAlign="center start">
        
                <app-phk-input formControlName="username" 
                                label="Usuario"
                                class="w-100"></app-phk-input>
        
                <app-phk-input [type]="hidePassword ? 'password' : 'text'"
                                formControlName="password"
                                label="Contraseña"
                                class="w-100">
                    <mat-icon (click)="hidePassword = !hidePassword" class="pointer" suffix>
                    {{hidePassword ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    <mat-error error *ngIf="signInFormGroup.get('password')!.errors?.['invalid']">
                    Ususario o contraseña incorrectos
                    </mat-error>
                </app-phk-input>
        
                <button (click)="submit()"
                        *ngIf="!openSpinner"
                        class="w-100"
                        color="primary"
                        mat-raised-button>
                    Entrar
                </button>
        
                <span class="w-100" 
                        fxLayoutAlign="center center">
                    <mat-spinner *ngIf="openSpinner"
                                [diameter]="30"></mat-spinner>
                </span>
                </form>
        
            </mat-card>
        </div>

    </div>

    <div class="sign-in-footer w-100"
         fxLayout="row"
         fxLayoutAlign="space-between center">
         <span>
            Copyright © {{year}} phoinike logistics, C.A.
         </span>

         <span>
            V0.0.0
         </span>
    </div>
</div>
