
<button (click)="show()">
    show()
</button>

<app-phk-file-input [(inputFile)]="file"></app-phk-file-input>

<!-- <div class="sign-in" 
     fxLayout="column" 
     fxLayoutAlign="space-between center">

    <div class="sign-in-header w-100 p-20"
         fxLayout="row"
         fxLayoutAlign="start center">
         <h1>
             Phoinike Logistics
         </h1>
    </div>

    <div fxLayout="row"
         fxLayoutAlign="center center"
         fxLayoutGap="40px"
         fxLayout.lt-md="column"
         class="w-100"
         [@fadeIn]>

        <div fxFlex="calc(60% - 40px)"
             fxLayout="column"
             fxLayoutAlign="center center">

            <mat-card class="mat-elevation-z0">
                <h4 class="text-center m-0">Inicia sesión</h4>
                <h5 class="text-center m-10">Utiliza tu cuenta Phoinike</h5>
        
                <form [formGroup]="signInForm" 
                      fxLayout="column"
                      fxLayoutAlign="center start">
        
                <app-phk-input formControlName="username" 
                                label="Usuario"
                                class="w-100"></app-phk-input>
        
                <app-phk-input [type]="hidePassword ? 'password' : 'text'"
                                formControlName="password"
                                label="Contraseña"
                                class="w-100">
                    <mat-icon (click)="hidePassword = !hidePassword" class="pointer" suffix>
                    {{hidePassword ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    <mat-error error *ngIf="signInForm.get('password')!.errors?.['invalid']">
                        Usuario o contraseña incorrectos
                    </mat-error>
                </app-phk-input>

                <button class="forgot-password">
                    <span>
                        ¿Haz olvidado tu contraseña?
                    </span>
                </button>

                    <div fxLayout="row"
                        fxLayoutAlign="space-between center"
                        class="w-100">

                        <button color="primary"
                                class="fs-08 create-button"
                                mat-button>
                                <span>
                                    Crear cuenta
                                </span>
                        </button>

                        <div>

                            <button (click)="submit()"
                                    *ngIf="!openSpinner"
                                    color="primary"
                                    class="fs-08 enter-button"
                                    mat-raised-button
                                    type="submit">
                                    <span>
                                        Entrar
                                    </span>
                            </button>
    
                            <span fxLayoutAlign="center center"
                                  class="pv0-h15">
                                <mat-spinner *ngIf="openSpinner"
                                            [diameter]="30"></mat-spinner>
                            </span>

                        </div>

                    </div>
        
                </form>
        
            </mat-card>
        </div>

    </div>

    <div class="sign-in-footer w-100"
         fxLayout="row"
         fxLayoutAlign="space-between center">
         <span>
            Copyright © {{year}} phoinike logistics, C.A.
         </span>

         <span>
            V0.0.0
         </span>
    </div>
</div> -->
