
// Root styles

:host ::ng-deep {
  .mat-typography h4,
  .mat-input-element {
    color: var(--textPrimaryColor) !important;
  }

}

// Sign in content styles

.sign-in {

  height: 100%;
  background-color: var(--bgSearchColor);

  mat-card {

    padding: 30px 15px 40px 15px !important;
    width: 300px;
    border: 1px solid #dadce0;
    background: var(--bgSignInCard) !important;

    @media screen and (max-width: 667px) {
        width: 300px;
    }

    @media screen and (max-width: 500px) {
      width: 95%;
    }
  }

}

.forgot-password {
  border-radius: 4px;
  color: rgb(26,115,232) !important;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.25px;
  outline: 0;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  font-size: inherit;
  text-align: left;
  margin: -2px -3px;
  padding: 2px 3px;
  border: 0;
  margin: -10px 0 10px 0;

  span {
    font-size: 0.8em;
    font-weight: 700;
    color: rgb(26,115,232) !important;
  }

}

.create-button span {
  color: #0061ac !important;
}

.enter-button span {
  color: white !important;
}


// Footer styles

.sign-in-footer {
  padding: 15px 20px;
}