

.sidenav-container {
    width: 200px;
    padding: 10px;
}

.nav-item {
    display: inline-block;
    width: 100%;
    margin: auto;
    padding: 15px 10px 15px 15px;
    border-radius: 5px;
    cursor: pointer;
    i {
        margin-right: 5px;
    }
    transition: all 150ms ease-in;;
}

.nav-item:hover {
    background-color: #eee;
    color: #3C4858;
    font-weight: 300;
}

p {
    margin: 0px !important;
}

.active {
    background-color: #00518f !important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4) !important;
    
    p, i {
        color: #eee;
    }
}
