

.sidenav-container {
    width: 200px;
}

.active>a {
  background-color: #f44336 !important;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4) !important;
}

.nav-item {
    display: inline-block;
    width: 100%;
    margin: auto;
    padding: 20px 10px 20px 20px;
    cursor: pointer;

    i {
        margin-right: 5px;
    }

    transition: all 150ms ease-in;;
}

.nav-item:hover {
    background-color: #eee;
    color: #3C4858;
    font-weight: 300;
}

p {
    margin: 0px !important;
}