
.close-button {
    background: transparent;
    border: none;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-top: -28px;
    margin-right: -5px;
    cursor: pointer;
    outline: none;
    color: var(--textPrimaryColor);
}

.confirmation-button {
    width: 110px;
}