<div>
  <form [formGroup]="bankAccountForm">
    <div
      mat-dialog-content
      fxLayout="row wrap"
      fxLayoutGap="20px"
      fxLayout.lt-md="column"
      fxLayoutAlign="start center"
    >
      <app-phk-select formControlName="bank_id" [label]="'Banco'">
        <mat-option
          *ngFor="let bankOption of bankOptions"
          [value]="bankOption.id"
        >
          {{ bankOption.name }}
        </mat-option>
      </app-phk-select>

      <app-phk-input
        formControlName="account_number"
        [label]="'Número de cuenta'"
        fxFlex.gt-md="calc(33% - 20px)"
        fxFlex.lt-md="calc(100%)"
        [required]="true"
      ></app-phk-input>

      <app-phk-select formControlName="currency_id" [label]="'Moneda'">
        <mat-option
          *ngFor="let currencyOption of currencyOptions"
          [value]="currencyOption.id"
        >
          {{ currencyOption.name }}
        </mat-option>
      </app-phk-select>

      <div fxFlex="100">
        <button
          class="w-100"
          mat-flat-button
          color="primary"
          (click)="saveBankAccount()"
        >
          Guardar
        </button>
      </div>
    </div>
  </form>
</div>
