<div>   
    <form [formGroup]="providerForm">
        <div mat-dialog-content fxLayout="row wrap" fxLayoutGap="20px" fxLayout.sm="column"
        fxLayout.md="column">
            <br>
            <div fxFlex="auto"
                 fxFlex.sm="10"
                 fxFlex.md="36"
                 fxFlex.xl="47">
                <p>Nombre*</p>
                <app-phk-input label="Nombre" formControlName="name" [required]="true"></app-phk-input>
            </div>

            <div fxFlex="auto"
                 fxFlex.sm="10"
                 fxFlex.md="36"
                 fxFlex.xl="47">
                <p>Teléfono</p>
                <app-phk-input label="Teléfono" formControlName="phone"></app-phk-input>
            </div>
            
            <div fxFlex="50"
                 fxFlex.sm="30"
                 fxFlex.md="10"
                 fxFlex.lg="40"
                 fxFlex.xl="47">
                <p>¿Es Nacional?</p><br>
                <app-phk-slide-toggle (click)="changeNational()" formControlName="national"></app-phk-slide-toggle>
            </div>

            <div fxFlex="50"
                 fxFlex.sm="30"
                 fxFlex.md="10"
                 fxFlex.lg="40"
                 fxFlex.xl="47"
                 *ngIf="!nationaltrigger">
                <p>Rif*</p><br>
                <app-phk-input formControlName="rif" [required]="true"></app-phk-input>
            </div>
            <div fxFlex="50"
                 fxFlex.sm="30"
                 fxFlex.md="10"
                 fxFlex.lg="40"
                 fxFlex.xl="47"
                 *ngIf="!nationaltrigger">
                <p>Ficha del Proveedor</p><br>
                <app-phk-input formControlName="providerCard"></app-phk-input>
            </div>
            <div fxFlex="50"
                 fxFlex.sm="30"
                 fxFlex.md="10"
                 fxFlex.lg="40"
                 fxFlex.xl="47"
                 *ngIf="!nationaltrigger">
                <p>Rif en PDF</p><br>
                <app-phk-input formControlName="rifPDF"></app-phk-input>
            </div>
            <div fxFlex="50"
                 fxFlex.sm="30"
                 fxFlex.md="10"
                 fxFlex.lg="40"
                 fxFlex.xl="47"
                 *ngIf="!nationaltrigger">
                <p>Hoja de Chequeo OFAC (RIF) </p><br>
                <app-phk-input formControlName="ofac"></app-phk-input>
            </div>
            <div fxFlex="50"
                 fxFlex.sm="30"
                 fxFlex.md="10"
                 fxFlex.lg="40"
                 fxFlex.xl="47"
                 *ngIf="!nationaltrigger">
                <p>Copia de la Licencia de Industria y Comercio (Patente) o carta de justificación en caso de no tenerla.</p><br>
                <app-phk-input formControlName="license"></app-phk-input>
            </div>
            <div fxFlex="50"
                 fxFlex.sm="30"
                 fxFlex.md="10"
                 fxFlex.lg="40"
                 fxFlex.xl="47"
                 *ngIf="!nationaltrigger">
                <p>Certificación Bancaria Original</p><br>
                <app-phk-input formControlName="bank"></app-phk-input>
            </div>
            <div fxFlex="50"
                 fxFlex.sm="30"
                 fxFlex.md="10"
                 fxFlex.lg="40"
                 fxFlex.xl="47"
                 *ngIf="!nationaltrigger">
                <p>Cédula de Representante Legal o Directivos</p><br>
                <app-phk-input formControlName="ci"></app-phk-input>
            </div>
            <div fxFlex="50"
                 fxFlex.sm="30"
                 fxFlex.md="10"
                 fxFlex.lg="40"
                 fxFlex.xl="47"
                 *ngIf="!nationaltrigger">
                <p>Hoja de chequeo OFAC (Cédula de Representante Legal o Directivos)</p><br>
                <app-phk-input formControlName="ofacCheck"></app-phk-input>
            </div>
            <div fxFlex="50"
                 fxFlex.sm="30"
                 fxFlex.md="10"
                 fxFlex.lg="40"
                 fxFlex.xl="47"
                 *ngIf="!nationaltrigger">
                <p>Registro Mercantil</p><br>
                <app-phk-input formControlName="registry"></app-phk-input>
            </div>
            <div fxFlex="50"
                 fxFlex.sm="30"
                 fxFlex.md="10"
                 fxFlex.lg="40"
                 fxFlex.xl="47"
                 *ngIf="!nationaltrigger">
                <p>Última Acta de la Junta Directiva</p><br>
                <app-phk-input formControlName="doc"></app-phk-input>
            </div>
            <div fxFlex="50"
                 fxFlex.sm="30"
                 fxFlex.md="10"
                 fxFlex.lg="40"
                 fxFlex.xl="47"
                 *ngIf="!nationaltrigger">
                <p>Última declaración de I.S.L.R</p><br>
                <app-phk-input formControlName="islr"></app-phk-input>
            </div>
            <div fxFlex="50"
                 fxFlex.sm="30"
                 fxFlex.md="10"
                 fxFlex.lg="40"
                 fxFlex.xl="47"
                 *ngIf="!nationaltrigger">
                <p>Permiso, Certificado o Acreditación para operar según tipo de proveedor</p><br>
                <app-phk-input formControlName="permises"></app-phk-input>
            </div>

            <div fxFlex="50"
                 fxFlex.sm="30"
                 fxFlex.md="10"
                 fxFlex.lg="40"
                 fxFlex.xl="47">
                <p>¿Se encuentra activo?</p><br>
                <app-phk-slide-toggle formControlName="active"></app-phk-slide-toggle>
            </div>
            
            <div fxFlex="100"
                 fxFlex.sm="100"
                 fxFlex.md="100">
                <br><p>Dirección Fiscal*</p>
                <app-phk-text-area label="Ingrese la Dirección Fiscal" formControlName="address" [required]="true"></app-phk-text-area> 
            </div>

            <div fxFlex="auto"
                 fxFlex.sm="100"
                 fxFlex.md="33"> 
                <p>Contribuyente Especial*</p>
                <app-phk-select label="Seleccione..." formControlName="taxpayer" [required]="true">
                    <mat-option>SI</mat-option>
                    <mat-option>NO</mat-option>
                </app-phk-select>            
            </div>

            <div fxFlex="auto"
                 fxFlex.sm="100"
                 fxFlex.md="33">
                <p>Retencion IVA*</p>
                <app-phk-input formControlName="iva" [required]="true"></app-phk-input>
            </div>

            <div fxFlex="auto"
                 fxFlex.sm="100"
                 fxFlex.md="33">
                <p>Tipo</p>
                <app-phk-select label="Seleccione..." formControlName="type">
                    <mat-option>Natural</mat-option>
                    <mat-option>Juridico</mat-option>
                    <mat-option>Gubernamental</mat-option>
                </app-phk-select>
            </div>

            <div fxFlex="auto"
                 fxFlex.sm="100"
                 fxFlex.md="33">
                <p>Tipo de Proveedor</p>
                <app-phk-select label="Seleccione..." formControlName="providerType">
                    <mat-option>Operativo</mat-option>
                    <mat-option>Prestador de Servicios</mat-option>
                    <mat-option>Administrativo</mat-option>
                </app-phk-select>
            </div>

            <div fxFlex="50"
                 fxFlex.xs="100"
                 fxFlex.sm="100"
                 fxFlex.md="33"
                 fxFlex.lg="100"
                 fxFlex.xl="100">
                <button class="w-100" mat-flat-button color="primary">Enviar</button>
            </div>

            <!-- <div fxFlex="50"
                 fxFlex.xs="100"
                 fxFlex.sm="100"
                 fxFlex.md="33"
                 fxFlex.lg="100"
                 fxFlex.xl="100">
                <button class="w-100" mat-flat-button>Cancelar</button>
            </div> -->
        </div>
    </form>
</div>