<div>   
    <form [formGroup]="customsForm">
        <div mat-dialog-content f
             fxLayout="row wrap" 
             fxLayoutGap="20px"
             fxFlex.lt-md="column"
             fxLayoutAlign="start center">
            <br>

            <app-phk-input  fxFlex="calc(33% - 20px)" 
                            label="Nombre" 
                            formControlName="name" 
                            [required]="true">
            </app-phk-input>
            
            <app-phk-input  fxFlex="calc(33% - 20px)" 
                            label="Teléfono" 
                            formControlName="phone">
            </app-phk-input>

            <!-- <button
                fxFlex="calc(50% - 20px)"
                (click)="setActive()"
                mat-raised-button>
                Agregar Item
            </button>

            <div fxFlex="calc(50% - 20px)">
                 <button
                    (click)="setUnactive()"
                    mat-raised-button>
                    Eliminar Item
                 </button>
            </div> -->

            <app-phk-select fxFlex="calc(33% - 20px)" 
                            label="Seleccione..." 
                            formControlName="transport"
                            [multiple]="true">
                <mat-option *ngFor="let transport of transportType" [value]="transport">{{transport}}</mat-option>
            </app-phk-select>

            <app-phk-input  fxFlex="calc(33% - 20px)" 
                            label="INPUT DE RELLENO PARA LUEGO COLOCAR LA UBICACION" 
                            formControlName="location">

            </app-phk-input>
            
            <button class="w-100" mat-flat-button color="primary" (click)="showForm()">Enviar</button>

        </div> 
    </form>
</div>