<div>   
    <form [formGroup]="customsForm">
        <div mat-dialog-content f
             fxLayout="row wrap" 
             fxLayoutGap="20px"
             fxFlex.lt-md="column"
             fxLayoutAlign="start center">
            <br>

            <app-phk-input  fxFlex="calc(33% - 20px)" 
                            label="Nombre" 
                            formControlName="name" 
                            [required]="true">
            </app-phk-input>
            
            <app-phk-input  fxFlex="calc(33% - 20px)" 
                            label="Dirección" 
                            formControlName="address">
            </app-phk-input>

            <app-phk-select fxFlex="calc(33% - 20px)" 
                            label="Seleccione..." 
                            formControlName="transport_types"
                            [multiple]="true"
                            [formControl]="customForm">
                <mat-option *ngFor="let transport of transportType" [value]="transport.id">{{transport.name}}</mat-option>
                            
            </app-phk-select>

            <app-phk-input  fxFlex="calc(33% - 20px)" 
                            label="Latitud" 
                            formControlName="latitude">
            </app-phk-input>

            <app-phk-input  fxFlex="calc(33% - 20px)" 
                            label="Longitud" 
                            formControlName="longitude">
            </app-phk-input>
            
            <button class="w-100" mat-flat-button color="primary" (click)="saveCustoms()">Enviar</button>

        </div> 
    </form>
</div>