<div fxLayout="row" fxLayoutAlign="space-between center">
  <h1>Proveedores</h1>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <button
      class="crud-button"
      mat-mini-fab
      color="primary"
      aria-label="Registrar Proveedor"
      matTooltip="Registrar Proveedor"
      (click)="processProvider('Add')"
    >
      <mat-icon>add</mat-icon>
    </button>

    <button
      class="crud-button"
      mat-mini-fab
      color="primary"
      aria-label="Editar Proveedor"
      matTooltip="Editar Proveedor"
      (click)="processProvider('Edit')"
      [disabled]="itemsSelected.length > 1"
    >
      <mat-icon>edit</mat-icon>
    </button>

    <button
      class="crud-button"
      mat-mini-fab
      color="primary"
      aria-label="Eliminar Proveedor"
      matTooltip="Eliminar Proveedor"
      (click)="deleteProvider()"
      [disabled]="itemsSelected.length > 1"
    >
      <mat-icon>delete</mat-icon>
    </button>

    <button
      mat-mini-fab
      color="primary"
      aria-label="Actualizar Tabla"
      matTooltip="Actualizar Tabla"
      (click)="refreshProviders()"
    >
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div>

<app-phk-table
  *ngIf="tableData !== []"
  [columnsTags]="tableColumnsTags"
  [columnsToDisplay]="tableColumnsToDisplay"
  [data]="tableData"
  [(itemsSelected)]="itemsSelected"
></app-phk-table>
