
.table-container {
    height: calc(100vh - 150px);
}

.add-button {
    position: absolute;
    z-index: 99;
    right: 20px;
    bottom: 20px;
}

::ng-deep {

    mat-dialog-container{
        background: var(--bgPrimaryColor) !important;
    }

    .mat-select-panel {
        background: var(--bgPrimaryColor) !important;
    }

    .mat-input-element {
        color: var(--textPrimaryColor) !important;
    }
}


.providers {
    background-color: var(--bgPrimaryColor);
    height: 100%;
}