<div>   
    <form [formGroup]="truckTypeForm">
        <div mat-dialog-content fxLayout="row wrap" fxLayoutGap="20px" fxLayout.sm="column"
        fxLayout.md="column">
            <br>
            <div fxFlex="calc(50% - 20px)">
                <p>Nombre*</p>
                <app-phk-input label="Nombre" formControlName="name" [required]="true"></app-phk-input>
            </div>
            <div fxFlex="50"
                 fxFlex.xs="100"
                 fxFlex.sm="100"
                 fxFlex.md="33"
                 fxFlex.lg="100"
                 fxFlex.xl="100">
                <button class="w-100" mat-flat-button color="primary">Enviar</button>
            </div>
        </div> 
    </form>
</div>