<div>   
    <form [formGroup]="shippingCompanyForm">
        <div mat-dialog-content 
             fxLayout="row wrap" 
             fxLayoutGap="20px"
             fxLayout.lt-md="column"
             fxLayoutAlign="start center">
            
            <app-phk-input  label="Nombre de la Naviera" 
                            formControlName="name" 
                            fxFlex.gt-md="calc(33% - 20px)"
                            fxFlex.lt-md="calc(100%)"
                            [required]="true">
            </app-phk-input>
        
            <button class="w-100" mat-flat-button color="primary">Guardar</button>

        </div>
    </form>
</div>