<div fxFlex="column">

    <mat-card class="calendar-container mat-elevation-z0">
    
        <mat-card-header fxLayout="row"
                        fxLayoutAlign="space-between center">
            
            <mat-card-title-group>
    
                <mat-card-title>GESTIONA TU COMEX</mat-card-title>
                <mat-card-subtitle>
                    Revisa tu calendario de actividades, ten control sobre tus importaciones 
                    y exportaciones.
                </mat-card-subtitle>
    
            </mat-card-title-group>
            
            <img mat-card-sm-image class="p-20" src="../../../../../assets/icons/Comex/calendar.svg">
    
        </mat-card-header>
    
        <mat-card-content>
    
            <div fxLayout="column">
    
                <div class="calendar-header"
                    fxLayout="row"
                    fxLayoutAlign="center">
                    MI CALENDARIO
                </div>
    
                <div class="calendar-content"
                    fxLayout="row"
                    fxLayoutAlign="space-between">
    
                    <div fxLayout="column"
                        fxLayoutAlign="center">
                        <div>
                            <p class="fw-600 fs-20">
                                LUNES, 18 DE DICIEMBRE, 2023
                            </p>
                        </div>
                        <div fxLayout="column"
                            >
                            <div class="calendar-hours hour1"
                                fxLayout="row"
                                fxLayoutAlign="center center">
                                
                                <p>4:00</p>
                            </div>
                            <div class="calendar-hours hour2"
                                fxLayout="row"
                                fxLayoutAlign="center center">
                                
                                <p>9:00</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="calendar-text">
                        <p>
                            FS Ipanema Vessel, PBL Despacho 
                            contenedores Almacen.
                        </p>
                    </div>
                    
                </div>
    
                <div class="calendar-content"
                    fxLayout="row"
                    fxLayoutAlign="space-between">
    
                    <div fxLayout="column"
                        fxLayoutAlign="center">
                        <div>
                            <p class="fw-600 fs-20">
                                MARTES, 19 DE DICIEMBRE, 2023
                            </p>
                        </div>
                        <div fxLayout="column"
                            >
                            <div class="calendar-hours hour1"
                                fxLayout="row"
                                fxLayoutAlign="center center">
                                
                                <p>4:00</p>
                            </div>
                            <div class="calendar-hours hour2"
                                fxLayout="row"
                                fxLayoutAlign="center center">
                                
                                <p>9:00</p>
                            </div>
                        </div>
                    </div>
    
                    <div class="calendar-text">
                        <p>
                            CMA CGM Malta Vessel, PBL 
                            Despacho contenedores Almacen
                        </p>
                    </div>
                    
                </div>
                
                <div fxLayout="row"
                    fxLayoutAlign="center center"
                    class="calendar-footer-text">
                    <p>Revisar calendario de actividades.</p>
                </div>
    
            </div>
    
        </mat-card-content>
    
    </mat-card>
    
    <mat-card class="info-container mat-elevation-z0">
    
        <mat-card-header fxLayout="row-wrap"
                         fxLayoutAlign="center center">
            
            <mat-card-title-group>
    
                <mat-card-title>INDICADORES DE GESTIÓN DE EQUIPOS</mat-card-title>
                <mat-card-subtitle>
                    Mide el rendimineto de tus colaboradores y 
                    explora métricas sobre tus actividades 
                    de negocio internacinal.
                </mat-card-subtitle>
    
            </mat-card-title-group>
            
    
        </mat-card-header>
    
        <mat-card-content>

            <hr>
            
            <div fxLayout="row"
                 fxLayoutAlign="center center"
                 class="calendar-footer-text">
                <p>Revisar calendario de actividades.</p>
            </div>    
            
        </mat-card-content>
    
    </mat-card>

    <mat-card class="info-container mat-elevation-z0">
    
        <mat-card-header fxLayout="row-wrap"
                         fxLayoutAlign="center center">
            
            <mat-card-title-group>
    
                <mat-card-title>PERSONALIZAR PROCESOS Y CONDICIONES</mat-card-title>
                <mat-card-subtitle>
                    Establece condiciones y requerimientos que tengas para tus actividades 
                    de comercio internacional.
                </mat-card-subtitle>
    
            </mat-card-title-group>
            
    
        </mat-card-header>
    
        <mat-card-content>

            <hr>
            
            <div fxLayout="row"
                 fxLayoutAlign="center center"
                 class="calendar-footer-text">
                <p>Personalizar procesos.</p>
            </div>    

        </mat-card-content>
    
    </mat-card>

    <mat-card class="info-container mat-elevation-z0">
    
        <mat-card-header fxLayout="row-wrap"
                         fxLayoutAlign="center center">
            
            <mat-card-title-group>
    
                <mat-card-title>GESTIONA TUS COMUNICACIONES</mat-card-title>
                <mat-card-subtitle>
                    Configura tus preferencias de comunicación, indícanos con quíen 
                    debemos comunicarnos y la forma en que deseas recibir la información.
                </mat-card-subtitle>
    
            </mat-card-title-group>
            
    
        </mat-card-header>
    
        <mat-card-content>

            <hr>
            
            <div fxLayout="row"
                 fxLayoutAlign="center center"
                 class="calendar-footer-text">
                <p>Configurar la forma cómo se comunicaran conmingo.</p>
            </div>    

        </mat-card-content>
    
    </mat-card>

    <mat-card class="info-container mat-elevation-z0">
    
    
        <mat-card-content fxLayout="column"
                          fxLayoutAlign="start">

            <p class="fw-800 fs-20">¿BUSCAS OTRA COSA?</p>

            <div fxLayout="row"
                 fxLayoutAlign="start center"
                 class="footer-icon">
                <img src="../../../../../assets/icons/Comex/lens.svg">
                <p>BUSCAR EN PHOINIKE AI</p>
            </div>   
            <div fxLayout="row"
                 fxLayoutAlign="start center"
                 class="footer-icon">
                <img src="../../../../../assets/icons/Comex/config.svg">
                <p>SOPORTE TECNICO, OPERACIONES DE AYUDA Y TUTORIALES</p>
            </div>   
            <div fxLayout="row"
                 fxLayoutAlign="start center"
                 class="footer-icon">
                <img src="../../../../../assets/icons/Comex/book.svg">
                <p>LIBROS Y MANUALES</p>
            </div>   
            <div fxLayout="row"
                 fxLayoutAlign="start center"
                 class="footer-icon">
                <img src="../../../../../assets/icons/Comex/file.svg">
                <p>LEYES Y DECRETOS</p>
            </div>   
            <div fxLayout="row"
                 fxLayoutAlign="start center"
                 class="footer-icon">
                <img src="../../../../../assets/icons/Comex/message.svg">
                <p>ENVIAR COMENTARIOS</p>
            </div>   
            
        </mat-card-content>
    
    </mat-card>

</div>  


