.calendar-container {
    padding: 2rem;
    background-color: var(--bgCardDashboard) !important;
    border-radius: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--textPrimaryColor);
    border-color: var(--borderSecondaryColor);

        mat-card-subtitle {
            color: #9b9b9b !important;
        }
}

.calendar-header {
    padding: 2rem;
    color: white;
    background-color: #2EC4F1;
    border-radius: 1rem 1rem 0rem 0rem;
    font-size: 2rem;
    font-weight: 500;
    box-shadow: 0 .2rem .2rem -.2rem var(--borderPrimaryColor);
    border-color: var(--borderSecondaryColor);
}

.calendar-content {
    margin-top: .4rem;
    padding: 2rem;
    background-color: var(--bgCardDashboard) !important;
    box-shadow: 0 .2rem .2rem -.2rem var(--borderPrimaryColor);
    border-color: var(--borderSecondaryColor);
}

.calendar-text {
    max-width: 30% !important;
}

:host::ng-deep {
    .mat-card-header-text {
        margin: -6rem !important;
    }
}

.calendar-hours {
    max-width: 8rem !important;
    box-shadow: 0 0 .6rem var(--borderSecondaryColor);
    margin-top: .5rem;
    border-radius: .5rem;
    padding: .8rem;
    font-weight: 600;
}

.hour1 {
    background-color: #20de02;
    color: #ffff
}

.hour1 p{
    color: #ffff;
    margin-bottom: 0rem;
}

.hour2 {
    background-color: var(--bgPrimaryColor);
}

.hour2 p{
    margin-bottom: 0rem;
}

.calendar-footer-text {
    margin-top: 2rem;
}

.calendar-footer-text p{
    color: #2EC4F1; 
    font-weight: 600;
    cursor: pointer;
}

.info-container {
    padding: 3rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
    background-color: var(--bgCardDashboard) !important;
    border-radius: 1.8rem;
    margin-bottom: 2rem;
    color: var(--textPrimaryColor);
    border-color: var(--borderSecondaryColor);

    mat-card-subtitle {
        margin-bottom: 3rem;
        color: #9b9b9b;
    }

    mat-card-title-group {
        max-width: 80%;
    }
}

.footer-icon img{
    width: 3%;
    height: 3%;
}

.footer-icon p{
    margin-left: 1rem;
    margin-top: 2rem;
}
