<button mat-raised-button (click)="showModal()">
    Provider's Modal
</button>

<button mat-raised-button (click)="showModal2()">
    Customer's Modal
</button>

<button mat-raised-button (click)="showModal3()">
    ShippingCompany's Modal
</button>

<button mat-raised-button (click)="showModal4()">
    Consolidator's Modal
</button>

<button mat-raised-button (click)="showModal5()">
    Airline's Modal
</button>

<button mat-raised-button (click)="showModal6()">
    GroundTransport's Modal
</button>

<button mat-raised-button (click)="showModal7()">
    Driver's Modal
</button>