.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

::ng-deep {
  mat-dialog-container {
    background: var(--bgPrimaryColor) !important;
  }

  .mat-input-element {
    color: var(--textPrimaryColor) !important;
  }

  .mat-option {
    color: var(--textPrimaryColor);
  }

  .mat-step {
    background-color: var(--bgPrimaryColor);
  }
  .mat-select-panel {
    background-color: var(--bgPrimaryColor);
    color: var(--textPrimaryColor) !important;
  }

  .mat-primary span,
  .mat-primary .mat-icon {
    color: var(--textPrimaryColor) !important;
  }

  .mat-step-header .mat-step-icon {
    background-color: #b5a3a38a;
  }

  .mat-step-header .mat-step-icon-selected {
    background-color: #0093e1;
    color: white;
  }

  .mat-step-header .mat-step-label.mat-step-label-active {
    color: var(--textPrimaryColor) !important;
  }

  .mat-step-label {
    color: var(--textSecondaryColor) !important;
  }
  .mat-stepper-vertical-line::before {
    border-left-color: var(--borderPrimaryColor);
    border-left-width: 2px;
  }
}

.container-form-roles {
  background-color: var(--bgPrimaryColor);
}

.btn-primary {
  background-color: var(--buttonPrimary) !important;
}
.btn-accent {
  background-color: var(--buttonAccent) !important;
}
.btn-warn {
  background-color: var(--buttonWarn) !important;
}

.permission-container {
  background-color: var(--bgSignInCard);
  border-radius: 5px;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(28, 28, 28, 0.09) !important;
  padding: 15px 30px;
  margin: 0 auto 0 0;
}
