<mat-stepper linear #stepper>
  <mat-step [stepControl]="roleFormGroup" [editable]="true">
    <form [formGroup]="roleFormGroup">
      <ng-template matStepLabel>Nuevo Rol</ng-template>
      <app-phk-input
        label="Nombre"
        formControlName="name"
        fxFlex="100"
      ></app-phk-input>
      <div>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="permisionFormGroup" [editable]="true">
    <form [formGroup]="permisionFormGroup">
      <ng-template matStepLabel>Asignar Permisos a Roles </ng-template>
      <app-phk-select
        formControlName="modules"
        [label]="'Modulos'"
        fxFlex.gt-md="calc(100%)"
        fxFlex.lt-md="calc(100%)"
      >
        <mat-option *ngFor="let modules of modulesOptions" [value]="modules">
          {{ modules }}
        </mat-option>
      </app-phk-select>
      <app-phk-table
        [columnsTags]="tableColumnsTags"
        [columnsToDisplay]="tableColumnsToDisplay"
        [data]="tableData"
      ></app-phk-table>
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Enviar</ng-template>
    <div>
      <button mat-button matStepperPrevious>Anterior</button>
    </div>
  </mat-step>
</mat-stepper>
