<mat-stepper orientation="vertical" #stepper>
  <mat-step [stepControl]="roleFormGroup" [editable]="true">
    <form
      [formGroup]="roleFormGroup"
      fxLayout="column"
      fxLayoutAlign="space-around center"
    >
      <ng-template matStepLabel>Nuevo Rol</ng-template>
      <div fxFlex="100" fxFill fxLayoutGap="20px">
        <app-phk-input
          label="Nombre"
          formControlName="name"
          [errorMessage]="roleFormGroup.get('name')?.errors?.['required'] 
                                     ? 'Nombre es requerido def' : null"
        >
        </app-phk-input>
        <button
          mat-raised-button
          color="primary"
          (click)="selectPermissions(stepper)"
        >
          Siguiente
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="permisionFormGroup" [editable]="true">
    <form
      [formGroup]="permisionFormGroup"
      fxLayout="column"
      fxLayoutAlign="space-around center"
    >
      <ng-template matStepLabel>Asignar Permisos a Roles </ng-template>
      <div
        fxFlex="100"
        fxFill
        fxLayoutGap="20px"
        fxLayout="column"
        fxLayoutAlign="space-around none"
      >
        <div
          mat-dialog-content
          fxLayout="row"
          fxLayoutGap="20px"
          fxLayout.lt-md="column"
          fxLayoutAlign="start center"
        >
          <app-phk-select
            formControlName="modulePermission"
            [label]="'Modulos'"
            fxFlex.gt-md="calc(33% - 20px)"
            fxFlex.lt-md="calc(33% - 20px)"
            (optionSelected)="moduleSelected($event)">
            <mat-option
              *ngFor="let modules of modulesOptions"
              [value]="modules.id"
            >
              {{ modules.name }}
            </mat-option>
          </app-phk-select>
        </div>
        <app-phk-table [columnsTags]="tableColumnsTags"
                       [columnsToDisplay]="tableColumnsToDisplay"
                       [(itemsSelected)]="itemsSelected"
                       [data]="tableData"
                       *ngIf="permisionFormGroup.get('modulePermission')?.value !== ''"></app-phk-table>
        <div class="container-button"
             fxFlex="100"
             fxLayout="row"
             fxLayoutAlign="start center"
             fxLayoutGap="10px">
          <button mat-raised-button 
                  color="primary" 
                  matStepperPrevious>
            Anterior
          </button>
          <button mat-raised-button
                  color="primary"
                  (click)="createRole()">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </mat-step>
</mat-stepper>
