<mat-stepper orientation="vertical" #stepper>
  <mat-step [stepControl]="roleFormGroup" [editable]="true">
    <form
      [formGroup]="roleFormGroup"
      fxLayout="column"
      fxLayoutAlign="space-around center"
    >
      <ng-template matStepLabel>Nuevo Rol</ng-template>
      <div fxFlex="100" fxFill fxLayoutGap="20px">
        <app-phk-input
          label="Nombre"
          formControlName="name"
          [errorMessage]="roleFormGroup.get('name')?.errors?.['required'] 
                                     ? 'Nombre es requerido def' : null"
        >
        </app-phk-input>
        <button
          mat-raised-button
          color="primary"
          (click)="selectPermissions(stepper)"
        >
          Siguiente
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="permisionFormGroup" [editable]="true">
    <form [formGroup]="permisionFormGroup"
          fxLayout="column"
          fxLayoutAlign="space-around center">
      <ng-template matStepLabel>Asignar permisos a rol </ng-template>

      <span class="fs-07 text-start w-100">
        Selecciona el módulo del rol
      </span>

      <div fxLayoutGap="10px"
           fxLayout="column"
           fxLayoutAlign="center start"
           class="w-100">

        <app-phk-select formControlName="modulePermission"
                        [label]="'Módulos'"
                        (optionSelected)="moduleSelected($event)">
          <mat-option *ngFor="let modules of modulesOptions"
                      [value]="modules.id">
            {{ modules.name }}
          </mat-option>
        </app-phk-select>

        <span class="fs-07 text-start mt-m20"
              *ngIf="tableData.length > 0">
          Selecciona los permisos dentro del módulo
        </span>

        <app-phk-table [columnsTags]="tableColumnsTags"
                       [columnsToDisplay]="tableColumnsToDisplay"
                       [(itemsSelected)]="itemsSelected"
                       [data]="tableData"
                       class="w-100"
                       *ngIf="permisionFormGroup.get('modulePermission')?.value !== ''"></app-phk-table>
        <div class="container-button"
             fxFlex="100"
             fxLayout="row"
             fxLayoutAlign="start center"
             fxLayoutGap="10px">
          <button mat-raised-button 
                  color="primary" 
                  matStepperPrevious>
            Anterior
          </button>
          <button mat-raised-button
                  color="primary"
                  (click)="createRole()">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </mat-step>
</mat-stepper>
