<div fxLayout="column"
     fxLayoutAlign="center center">
    <h1 class="fw-600">Gestiona tus comunicaciones</h1>
    
    <p class="text-align">
        Personaliza la forma en la cual deseas que nos comuniquemos contigo o con los trabajadores de tu empresa,
        configura notificaciones via telefonica o electronica... Mas información.
    </p>
</div>

<div fxLayout="row wrap"
     fxLayoutGap="20px"
     class="mt-20">

    <mat-card fxFlex="calc(50% - 20px)"
              class="mat-elevation-z0 mt-10 container-card">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Equipo Comercial</mat-card-title>
                <mat-card-subtitle>
                    Para aspectos comerciales, la comunicación se
                    efectuará a través de:
                </mat-card-subtitle>
                <div class="h-100">
                    <img mat-card-sm-image src="../../../../../assets/icons/Communications/personStocks.svg">
                </div>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content fxLayout="column"
                          fxLayoutAlign="space-between"
                          class="h-80">

            <div>
                <mat-card fxLayout="row"
                          fxLayoutAlign="space-between"
                          class="mat-elevation-z0 mini-cards">

                    <div fxLayout="row">
                        <img src="../../../../../assets/icons/Communications/accountDocument.svg">
                        <p class="fw-600 test">SUBGERENTE:</p>
                    </div>

                    <p class="fw-600">JOSÉ MENDOZA</p>

                </mat-card>

                <mat-card fxLayout="row"
                          fxLayoutAlign="space-between"
                          class="mat-elevation-z0 mini-cards">

                    <div fxLayout="row">
                        <img src="../../../../../assets/icons/Communications/accountCarpet.svg">
                        <p class="fw-600 test">GERENTE COMERCIAL:</p>
                    </div>

                    <p class="fw-600">PEDRO MORALES</p>

                </mat-card>
            </div>

            <div>
                <p>Más información</p>
            </div>
        </mat-card-content>
    </mat-card>

    
    <mat-card fxFlex="calc(50% - 20px)"
              class="mat-elevation-z0 mt-10 container-card">

        <mat-card-header>

            <mat-card-title-group>

                <mat-card-title>Equipo de Operaciones</mat-card-title>

                <mat-card-subtitle>
                    Estos son los analistas y miembros de nuestro
                    equipo que trabajan en tu caso:
                </mat-card-subtitle>

            </mat-card-title-group>

        </mat-card-header>

        <mat-card-content fxLayout="column"
                          fxLayoutAlign="space-between"
                          class="h-80">

            <div>
                <mat-card fxLayout="row"
                          fxLayoutAlign="space-between"
                          class="mat-elevation-z0 mini-cards">
                    <div fxLayout="row">
                        <img src="../../../../../assets/icons/Truck.svg">
                        <p class="fw-600 test">TRUCKS:</p>
                    </div>
                    <p class="fw-600">MARÍA RODRÍGUEZ</p>
                </mat-card>
    
                <mat-card fxLayout="row"
                          fxLayoutAlign="space-between"
                          class="mat-elevation-z0 mini-cards">
    
                    <div fxLayout="row">
                        <img src="../../../../../assets/icons/Customs.svg">
                        <p class="fw-600 test">CUSTOMS:</p>
                    </div>
    
                    <p class="fw-600">FERNANDA MORALES</p>
    
                </mat-card>
    
                <mat-card fxLayout="row"
                          fxLayoutAlign="space-between"
                          class="mat-elevation-z0 mini-cards">
    
                    <div fxLayout="row">
                        <img src="../../../../../assets/icons/Express.svg">
                        <p class="fw-600 test">EXPRESS:</p>
                    </div>
    
                    <p class="fw-600">LUISANA DI GIACOMO</p>
    
                </mat-card>
    
                <mat-card fxLayout="row"
                          fxLayoutAlign="space-between"
                          class="mat-elevation-z0 mini-cards">
    
                    <div fxLayout="row">
                        <img src="../../../../../assets/icons/Container.svg">
                        <p class="fw-600 test">CONTAINER:</p>
                    </div>
    
                    <p class="fw-600">PAULINA VÁSQUEZ</p>
    
                </mat-card>
            </div>
            
            <div>
                <p>Seleccionar otro analista</p>
            </div>

        </mat-card-content>

    </mat-card>


    <mat-card fxFlex="calc(50% - 20px)"
              class="mat-elevation-z0 mt-10 container-card">

        <mat-card-header>

            <mat-card-title-group>

                <mat-card-title>¿Como deseas recibir notificaciones?</mat-card-title>

                <mat-card-subtitle>
                    Controla el tipo de notificaciones y formas de comunicación
                    que deseas establecer y gestiona que miembros de tu
                    equipo las recibirán. 
                </mat-card-subtitle>

                <div class="h-100">
                    <img mat-card-sm-image src="../../../../../assets/icons/Communications/notificationBell.svg">
                </div>

            </mat-card-title-group>

        </mat-card-header>

        <mat-card-content fxLayout="column"
                          fxLayoutAlign="space-between"
                          class="h-80">

                <div>
                    <p>NOTIFICACIONES ACTIVAS</p>
    
                    <mat-card fxLayout="row"
                              fxLayoutAlign="space-between"
                              class="mat-elevation-z0 mini-cards">
    
                            <p class="fw-600 test">CORREO ELECTRONICO</p>
    
                    </mat-card>
    
                    <mat-card fxLayout="row"
                              fxLayoutAlign="space-between"
                              class="mat-elevation-z0 mini-cards">
    
                            <p class="fw-600 test">LLAMADA TELEFONICA DE CONFIRMACION</p>
    
                    </mat-card>
    
                    <mat-card fxLayout="row"
                              fxLayoutAlign="space-between"
                              class="mat-elevation-z0 mini-cards">
    
                            <p class="fw-600 test">WHATSAPP</p>
    
                    </mat-card>
    
                    <mat-card fxLayout="row"
                              fxLayoutAlign="space-between"
                              class="mat-elevation-z0 mini-cards">
    
                            <p class="fw-600 test">PUSH (APP & WEB)</p>
    
                    </mat-card>
                </div>

                <div>
                    <p>Personalizar notificaciones</p>
                </div>

        </mat-card-content>
    </mat-card>

    
    <mat-card fxFlex="calc(50% - 20px)"
              class="mat-elevation-z0 mt-10 container-card">
        <mat-card-header>

            <mat-card-title-group>

                <mat-card-title>Miembros de tu equipo que las reciben:</mat-card-title>

                <mat-card-subtitle>
                    Controla el tipo de notificaciones y formas de comunicación
                    que deseas establecer y gestiona que miembros de tu equipo
                    las recibirán. 
                </mat-card-subtitle>

            </mat-card-title-group>

        </mat-card-header>

        <mat-card-content>

            <mat-card fxLayout="row"
                      fxLayoutAlign="space-between"
                      class="mat-elevation-z0 mini-cards">

                    <div fxLayout="column">

                        <div fxLayout="row">
                            <img src="../../../../../assets/icons/Communications/accountCarpet.svg">
                            <p class="fw-600 test">GERENTES</p>
                        </div>
    
                        <div fxLayout="column"
                             class="mt-20">
                            <p>MARIELA PAEZ</p>
                            <p>JOSE RODRIGUEZ</p>
                        </div>

                    </div>

            </mat-card>
            
            <mat-card fxLayout="row"
                      fxLayoutAlign="space-between"
                      class="mat-elevation-z0 mini-cards">
                <div fxLayout="column">

                    <div fxLayout="row">
                        <img src="../../../../../assets/icons/Communications/accountSimCard.svg">
                        <p class="fw-600 test">ANALISTAS DE COMEX</p>
                    </div>

                    <div fxLayout="column"
                         class="mt-20">
                        <p>MARIELA PAEZ</p>
                    </div>
                </div>

            </mat-card>
            <mat-card fxLayout="row"
                      fxLayoutAlign="space-between"
                      class="mat-elevation-z0 mini-cards">

                      <div fxLayout="row">
                        <img src="../../../../../assets/icons/Communications/accountDouble.svg">
                        <p class="fw-600 test">TODO EL EQUIPO DE TRABAJO</p>
                    </div>
            </mat-card>

            <p>Gestionar datos y seguridad.</p>
    </mat-card-content>
    </mat-card>
    
</div>

<div class="footer"></div>
