

<mat-drawer-container [hasBackdrop]="true">
    <mat-drawer #drawer 
                [mode]="'side'">
                <!-- <div fxLayout="column">
                    <button *ngFor="let link of links" 
                            mat-flat-button
                            [routerLink]="link.linkUrl">{{link.linkTitle}}</button>
                </div> -->

        <app-phk-sidenav></app-phk-sidenav>
    
    </mat-drawer>
    <mat-drawer-content class="h-100vh">
        
        <mat-toolbar color="primary">
            <button mat-icon-button 
                    aria-label="toolbar button"
                    (click)="onToggleDrawer()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Phoinike</span>
        </mat-toolbar>

        <router-outlet></router-outlet>
        
    </mat-drawer-content>
</mat-drawer-container>