<div fxLayout="row" fxLayoutAlign="space-between center">
  <h1>Terminos de Pago</h1>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <button
      class="crud-button"
      mat-mini-fab
      color="primary"
      aria-label="Registrar Terminos de Pago"
      matTooltip="Registrar Terminos de Pago"
      (click)="processPaymenTerm('Add')"
    >
      <mat-icon>add</mat-icon>
    </button>

    <button
      class="crud-button"
      mat-mini-fab
      color="primary"
      aria-label="Editar Terminos de Pago"
      matTooltip="Editar Terminos de Pago"
      (click)="processPaymenTerm('Edit')"
      [disabled]="itemsSelected.length > 1 || itemsSelected.length === 0"
    >
      <mat-icon>edit</mat-icon>
    </button>

    <button
      class="crud-button"
      mat-mini-fab
      color="primary"
      aria-label="Eliminar Terminos de Pago"
      matTooltip="Eliminar Terminos de Pago"
      (click)="deletePaymenTerm()"
      [disabled]="itemsSelected.length > 1 || itemsSelected.length === 0"
    >
      <mat-icon>delete</mat-icon>
    </button>

    <button
      mat-mini-fab
      color="primary"
      aria-label="Actualizar Tabla"
      matTooltip="Actualizar Tabla"
      (click)="getPaymenTerms()"
    >
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div>

<app-phk-table
  *ngIf="tableData !== []"
  [columnsTags]="tableColumnsTags"
  [columnsToDisplay]="tableColumnsToDisplay"
  [data]="tableData"
  [(itemsSelected)]="itemsSelected"
></app-phk-table>
