<mat-form-field [color]="ngControl.invalid 
                         && ngControl.touched ? 'warn' : 'primary'" [appearance]="appearance"
                [hideRequiredMarker]="!requiredMarker">
    <mat-label>
        {{label}}
    </mat-label>
    <input (blur)="onTouch()" 
           [readonly]="readOnly" 
           [disabled]="disabled" 
           [formControl]="inputControl"
           [maxLength]="maxLength" 
           [minLength]="minLength" 
           [type]="type" 
           [mask]="mask"
           [required]="required"
           matInput />
    <div matSuffix>
        <ng-content select="[suffix]">
        </ng-content>
    </div>
    <mat-error *ngIf="ngControl.touched && errorMessage">{{ errorMessage }}</mat-error>

</mat-form-field>