// Global styles

h2 {
  font-size: 2em;
}

.user-setting-title {
  margin: 15px 0 5px 0;
}

.cards-container {
  max-width: 100% !important;
  padding: 20px 0px;
}

.card-img {
  width: calc(80%);
}

.home-container {
  width: 100%;
}
