<div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <ngx-avatar
      src="assets/images/jobs.png"
      size="97.6"
      class="pointer material-shadow"
    ></ngx-avatar>

    <h2 class="user-setting-title">Bienvenido, Gianfranco Abinassar</h2>

    <p class="general-info">
      Administra tu información, gestiona tus operaciones de manera privada y
      segura. Nuestro propósito es ayudarte a agilizar tus trámites de
      importación y exportación. <strong>Más información.</strong>
    </p>
  </div>

  <!-- Cards style -->

  <div
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="20px"
    class="cards-container"
    fxLayout.lt-md="column"
  >
    <div class="simple-border-card" fxFlex="calc(50%)">
      <div
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="center center"
        class="pv10-h20"
      >
        <div fxFlex="calc(70%)">
          <h2 class="fw-600 lh-1-5">Personalización y seguridad</h2>

          <p class="m-0 lh-1-5">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum is simply dummy text of the printing and
            typesetting industry.
          </p>
        </div>

        <div fxFlex="calc(30% - 20px)">
          <img
            class="card-img"
            src="../../../../../assets/images/user personalization.png"
          />
        </div>
      </div>

      <div class="stroked-button">Gestiona tus datos</div>
    </div>

    <div class="simple-border-card" fxFlex="calc(50% - 20px)">
      <div
        fxLayout="row"
        fxLayoutGap="20px"
        fxLayoutAlign="center center"
        class="pv10-h20"
      >
        <div fxFlex="calc(70%)">
          <h2 class="fw-600 lh-1-5">Personalización y seguridad</h2>

          <p class="m-0 lh-1-5">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum is simply dummy text of the printing and
            typesetting industry.
          </p>
        </div>

        <div fxFlex="calc(30% - 20px)">
          <img
            class="card-img"
            src="../../../../../assets/images/user security.png"
          />
        </div>
      </div>

      <div class="stroked-button">Protege tu cuenta</div>
    </div>

    <!-- <div class="simple-border-card mt-20"
              fxFlex>
 
             <div fxLayout="row"
                  fxLayoutGap="10px">
 
                     <div fxFlex="calc(60%)">
 
                     <h3 class="fw-600 lh-1-5">
                         Personalización y seguridad
                     </h3>
 
                     <p class="m-0 lh-1-5">
 
                         Lorem Ipsum is simply dummy text of the printing and typesetting industry.
 
                     </p>
 
                     </div>
 
                     <div fxFlex="calc(40% - 10px)">
                     <img src="../../../../../assets/images/user security.png" 
                             width="100px">
                     </div>
 
             </div>
             
         </div> -->
  </div>
</div>
