// Global styles

h2 {
  font-size: 2.8rem;
}

.user-setting-title {
  margin: 1.87rem 0;
  font-weight: 500;
}

.cards-container {
  max-width: 100% !important;
  padding: 20px 0px;
}

.card-img {
  width: calc(80%);
}

.home-container {
  width: 100%;
}

.general-info {
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: 0.9rem;
}
