::ng-deep {
    .mat-snack-bar-container{
        &.success-snackbar{
        background-color: #22bb33 !important;
        }
    }
    .mat-snack-bar-container{
        &.error-snackbar{
        background-color: #bb2124 !important;
        }
    }

}

.crud-button {
    margin-left: 5px;
}