
<button (click)="showForm()">
    showForm()
</button>

<button (click)="showModal()">
  showModal()
</button>

<form [formGroup]="form"
      class="w-100">
    <!-- <app-phk-slide-toggle formControlName="toggle"></app-phk-slide-toggle> -->

    <app-phk-date-picker formControlName="control"></app-phk-date-picker>
    <!-- <app-phk-text-area formControlName="control"
                       [label]="'text area'"></app-phk-text-area> -->
    <!-- <app-phk-input formControlName="control"
                       [label]="'input'"></app-phk-input> -->

      <!-- <app-phk-select formControlName="control">

        <mat-option>
          Hola
        </mat-option>
      </app-phk-select> -->


</form>
