<!-- <div class="p-20">
  Componente Date Picker de muestra, <strong>OJO:</strong> Los componentes
  reusables input, select, text-area o componentes que usen formControlName
  deben tener asociado un formControlName, sino fallarán

  <form [formGroup]="form">
    <app-phk-date-picker formControlName="control"></app-phk-date-picker>
  </form>

  Ejemplo de mostrar dialog
  <button (click)="showModal()" mat-raised-button>Mostrar Modal</button>
</div> -->

<!-- 
  <button (click)="showItems()">
    show items 
  </button>
  
  <button (click)="deleteItem()">
    delete item
  </button> -->
<!-- 
<div class="p-50">
  <h1>Tabla phoinike</h1>

  <app-phk-table
    [columnsTags]="tableColumnsTags"
    [columnsToDisplay]="tableColumnsToDisplay"
    [data]="tableData"
    [(itemsSelected)]="itemsSelected"
  ></app-phk-table>
</div> -->

<app-phk-searcher-result-auxiliary
  [tittle]="infoAuxi.tittle"
  [img]="infoAuxi.img"
  [extraInfo]="infoAuxi.extraInfo"
  [subTittle]="infoAuxi.subTittle"
>
</app-phk-searcher-result-auxiliary>
