<div class="p-20">
  Componente Date Picker de muestra, <strong>OJO:</strong> Los componentes reusables input, select,
  text-area o componentes que usen formControlName deben tener asociado un
  formControlName, sino fallarán

  <form [formGroup]="form">
    <app-phk-date-picker formControlName="control"></app-phk-date-picker>
  </form>

  Ejemplo de mostrar dialog
  <button (click)="showModal()" mat-raised-button>
    Mostrar Modal
  </button>
</div>

<h1>
  Tabla phoinike
</h1>

<app-phk-table></app-phk-table>