<div class="header-container"
     fxLayoutGap="10px">

    <app-phk-theme-toggle></app-phk-theme-toggle>

    <button mat-mini-fab 
            aria-label="Example icon button with a home icon"
            cdkOverlayOrigin 
            #trigger="cdkOverlayOrigin"
            (click)="toggleAppsList()">
        <mat-icon>apps</mat-icon>
    </button>
    <ng-template cdkConnectedOverlay
                    [cdkConnectedOverlayOrigin]="trigger"
                    [cdkConnectedOverlayOpen]="homeService.toggleAppsList">

        <app-phk-apps-list [appsList]="appsList"
                            [clickingInOutsideButton]="clickingAppsButton"></app-phk-apps-list>

    </ng-template>

    <ngx-avatar src="assets/images/jobs.png"
                size="30"
                cdkOverlayOrigin 
                #trigger="cdkOverlayOrigin"
                (click)="toggleUserAccount()"
                class="pointer material-shadow"></ngx-avatar>

    <ng-template cdkConnectedOverlay
                    [cdkConnectedOverlayOrigin]="trigger"
                    [cdkConnectedOverlayOpen]="homeService.toggleUserAccount">

        <app-phk-user-account-popup [clickingInOutsideButton]="clickingUserButton"></app-phk-user-account-popup>

    </ng-template>

</div>
