::ng-deep {

    mat-dialog-container{
        background: var(--bgPrimaryColor) !important;
    }

    .mat-select-panel {
        background: var(--bgPrimaryColor) !important;
    }
}


.customs {
    background-color: var(--bgPrimaryColor);
    height: 100%;
}