<div class="customs">
    <div class="p-20 table-container">

        <div fxLayout="row"
            fxLayoutAlign="space-between center">

            <h1>Aduana</h1>

            <button mat-mini-fab
                    color="primary" 
                    aria-label="Nueva Aduana"
                    matTooltip="Nueva Aduana"
                    (click)="newCustoms()">
                <mat-icon>add</mat-icon>
            </button>
        </div>


        <app-phk-table [columnsTags]="tableColumnsTags"
                    [columnsToDisplay]="tableColumnsToDisplay"
                    [data]="tableData"></app-phk-table>
                    
    </div>
</div>