

<div fxLayout="column"
     fxLayoutAlign="center center"
     class="w-80 ph-50 pb-50"
     fxLayoutGap="20px">

    <h1 class="fw-600 mb-0">
        Seguridad
    </h1>

    <h3>
        Ajustes para mantener tu cuenta segura
    </h3>

    <div class="simple-border-card"
         fxFlex="calc(50%)">

        <div fxLayout="row"
             fxLayoutGap="20px"
             fxLayoutAlign="center start"
             class="pv10-h20">

            <div fxFlex="calc(70%)">

                <h2 class="fw-600 lh-1-5">
                    Personalización y seguridad
                </h2>

                <p class="m-0 lh-1-5">

                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                </p>

            </div>

            <img fxFlex="calc(30% - 20px)" src="../../../../../assets/images/security.png">

        </div>

        <div class="stroked-button">
            Proteger tu cuenta
        </div>
    
    </div>
    
</div>