<form [formGroup]="formgruoup">
  <app-phk-select label="Cliente" [required]="true" formControlName="client">
    <mat-option>Option 1</mat-option>
    <mat-option>Option 2</mat-option>
  </app-phk-select>

  <app-phk-select
    label="Analista Cliente"
    [required]="true"
    formControlName="analystClient"
  >
    <mat-option>Option 1</mat-option>
    <mat-option>Option 2</mat-option>
  </app-phk-select>

  <app-phk-input
    label="OC"
    [required]="true"
    formControlName="orderPayment"
  ></app-phk-input>

  <app-phk-input
    label="Guía / BL"
    [required]="true"
    formControlName="guideBl"
  ></app-phk-input>

  <app-phk-input
    label="Mercancía"
    [required]="true"
    formControlName="merchandise"
  ></app-phk-input>

  <app-phk-date-picker
    label="Fecha de ETA"
    [required]="true"
    formControlName="dateEta"
  ></app-phk-date-picker>

  <app-phk-select
    label="Analista PHK"
    [required]="true"
    formControlName="analystPhk"
  >
    <mat-option>Option 1</mat-option>
    <mat-option>Option 2</mat-option>
  </app-phk-select>

  <app-phk-select
    label="Analista Cierre PHK"
    [required]="true"
    formControlName="analystClosePhk"
  >
    <mat-option>Option 1</mat-option>
    <mat-option>Option 2</mat-option>
  </app-phk-select>

  <app-phk-input
    label="Expediente PHK"
    formControlName="recrodPhk"
    [required]="true"
  ></app-phk-input>
  <app-phk-input
    label="Expediente SDN"
    formControlName="recordSdn"
  ></app-phk-input>

  <app-phk-select label="Facturador" [required]="true" formControlName="biller">
    <mat-option>Option 1</mat-option>
    <mat-option>Option 2</mat-option>
  </app-phk-select>

  <app-phk-select
    label="Agente Aduanal"
    [required]="true"
    formControlName="biller"
  >
    <mat-option>Option 1</mat-option>
    <mat-option>Option 2</mat-option>
  </app-phk-select>

  <app-phk-slide-toggle label="Vincular Transporte"> </app-phk-slide-toggle>

  <mat-divider></mat-divider>
  <br />
  <app-phk-select
    label="Tipo de Servicio"
    [required]="true"
    formControlName="serviceType"
  >
    <mat-option>Option 1</mat-option>
    <mat-option>Option 2</mat-option>
  </app-phk-select>

  <app-phk-select
    label="Tipo de Transporte"
    [required]="true"
    formControlName="transportType"
  >
    <mat-option>Option 1</mat-option>
    <mat-option>Option 2</mat-option>
  </app-phk-select>

  <app-phk-select
    label="Empresa de Transporte"
    [required]="true"
    formControlName="transportCompany"
  >
    <mat-option>Option 1</mat-option>
    <mat-option>Option 2</mat-option>
  </app-phk-select>

  <app-phk-select label="Puerto" [required]="true" formControlName="port">
    <mat-option>Option 1</mat-option>
    <mat-option>Option 2</mat-option>
  </app-phk-select>

  <app-phk-select
    label="Tipo de Carga"
    [required]="true"
    formControlName="loadType"
  >
    <mat-option>Option 1</mat-option>
    <mat-option>Option 2</mat-option>
  </app-phk-select>

  <app-phk-input
    label="Cantidad 20'"
    [required]="true"
    formControlName="container20"
  ></app-phk-input>

  <app-phk-input
    label="Cantidad 40'"
    [required]="true"
    formControlName="container40"
  ></app-phk-input>
</form>
