
<div>
  <mat-form-field [appearance]="appearance"
                  [color]="ngControl.invalid && ngControl.touched ? 'warn' : 'primary'"
                  [hideRequiredMarker]="!requiredMarker">
    <mat-label>{{label}}</mat-label>
    <mat-select (blur)="onTouch()"
                (selectionChange)="onSelect($event)"
                *ngIf="!multiple"
                [disabled]="disabled"
                [value]="value"
                [required]="required">
      <mat-option *ngFor="let option of options"
                  [disabled]="option.disabled" 
                  [value]="option.value">
        {{ option.viewValue }}
      </mat-option>  
    </mat-select>
    <mat-select (blur)="onTouch()" 
                (selectionChange)="onSelect($event)"
                *ngIf="multiple"
                [disabled]="disabled"
                [value]="value"
                [required]="required"
                multiple>
      <mat-option *ngFor="let option of options"
                  [disabled]="option.disabled" 
                  [value]="option.value">
        {{ option.viewValue }}
      </mat-option>
  
    </mat-select>
    <div matSuffix>
      <ng-content select="[suffix]">
      </ng-content>
    </div>
    <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
  </mat-form-field>
</div>
