i,
span {
  color: var(--textPrimaryColor);
}

.nav-item {
  margin: auto;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  i {
    margin-right: 5px;
  }
  transition: all 150ms ease-in;
  font-weight: 700;
  font-size: 1.4rem;
}

.active {
  background-color: #c2e7ff !important;

  span,
  i {
    color: var(--textPrimaryHover);
  }
}

.content-info {
  display: flex;
  align-items: flex-start;
  padding: 10px 16px 10px 24px;

  img {
    padding-right: 16px;
  }
}
