<div class="sidebar-container">
  <div
    *ngFor="let menuItem of sidebarItems"
    class="nav-item"
    [routerLink]="[menuItem.itemLink]"
    [ngClass]="{ active: isActive(menuItem.itemLink) }"
    (click)="navigate(menuItem.itemLink)"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="15px"
  >
    <div class="content-info">
      <img src="{{ menuItem.itemIconUrl }}" alt="" />

      <span>
        {{ menuItem.itemTitle }}
      </span>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div
    class="nav-item"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="15px"
    (click)="navigateToFallGelb()"
  >
    <div class="content-info">
      <img src="../../../../../assets/icons/corporate_fare.svg" alt="" />
      <span> Sistema FallGelb </span>
    </div>
  </div>
</div>
