i,
span {
  color: var(--textPrimaryColor);
}

.nav-item {
  margin: auto;
  padding: 10px 10px 10px 10px;
  border-radius: 0 25px 25px 0;
  margin-bottom: 10px;
  cursor: pointer;
  i {
    margin-right: 5px;
  }
  transition: all 150ms ease-in;
  font-weight: 500;
}

.nav-item:hover:not(.active) {
  background-color: #eee;
  i,
  span {
    color: #3c4858;
  }
}

.active {
  background-color: #c2e7ff !important;

  span,
  i {
    color: var(--textPrimaryHover);
  }
}
