

i, span {
    color: var(--textPrimaryColor);
}

.nav-item {
    margin: auto;
    padding: 15px 10px 15px 15px;
    border-radius: 0 25px 25px 0;
    margin-bottom: 10px;
    cursor: pointer;
    i {
        margin-right: 5px;
    }
    transition: all 150ms ease-in;;
}

.nav-item:hover:not(.active) {
    background-color: #eee;
    i, span {
        color: #3C4858;
    }
}

.active {
    background-color: #0074cd !important;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(244 67 54 / 9%) !important;
    
    span, i {
        color: #eee;
    }
}

