<div fxLayout="row" fxLayoutAlign="space-between center">
    <h2>Servicios de Proveedor '{{selectedName}}'</h2>
  
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <button
        class="crud-button"
        mat-mini-fab
        color="primary"
        aria-label="Registrar Servicio de Proveedor"
        matTooltip="Registrar Servicio de Proveedor"
        (click)="processProvider('Add')"
      >
        <mat-icon>add</mat-icon>
      </button>
  
      <button
        class="crud-button"
        mat-mini-fab
        color="primary"
        aria-label="Editar Servicio de Proveedor"
        matTooltip="Editar Servicio de Proveedor"
        (click)="processProvider('Edit')"
        [disabled]="itemsSelected.length > 1 || itemsSelected.length === 0"
      >
        <mat-icon>edit</mat-icon>
      </button>
  
      <button
        class="crud-button"
        mat-mini-fab
        color="primary"
        aria-label="Eliminar Servicio de Proveedor"
        matTooltip="Eliminar Servicio de Proveedor"
        (click)="deleteProvider()"
        [disabled]="itemsSelected.length > 1 || itemsSelected.length === 0"
      >
        <mat-icon>delete</mat-icon>
      </button>
  
      <button
        mat-mini-fab
        color="primary"
        aria-label="Actualizar Tabla"
        matTooltip="Actualizar Tabla"
        (click)="getProviderServices()"
      >
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>
  
  <app-phk-table
    *ngIf="tableData !== []"
    [columnsTags]="tableColumnsTags"
    [columnsToDisplay]="tableColumnsToDisplay"
    [data]="tableData"
    [(itemsSelected)]="itemsSelected"
  ></app-phk-table>